/* * {
  border: solid 1px red;
} */

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Sans-serif;
  /* background-color: #edeef0; */
  background-color: #e3e5e6;
  margin: 0;
}

/* sidebar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 5px 0 10px rgba(0,0,0,0.3)
}

.sidenav a, .dropdown-btn {
  padding: 10px 8px 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.dropdown-btn {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dawn-menu {
  float: right;
  padding-right: 8px;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
  transition: 0.5s;
  
}

.active {
  background-color: gray;
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 28px;
}

.ham-menu {
  font-size: 22px;
  cursor: pointer;
}

/* title bar */

.bar-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 32px 1fr;
  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

.bar-title > * {
  text-align: center;
}

/* main content */

main {
  padding-top: 62px;
}

.publicity {
  padding: 12px 0;
}

img {
  display: block;
  width: 25%;
  margin: 0 auto;
}

.count-down {
  font-size: 176px;
  font-weight: 700;
}

h3 {
  margin: 10px 0;
  font-size: 36px;
}

/* ----- home style ----- */

.current-content {
  width: 45%;
  margin: 0 auto;
}

.table {
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.3)   */
  margin: 20px 5px;
}

.table-title {
  border-radius: 10px 10px 0 0;
  /* color: white; */
  text-align: center;
  padding: 8px 0;
  background: white;
}

.his-item {
  border-top: 1px solid silver;
  display: grid;
  grid-template-columns: 1fr 45px 1fr;
  background-color: #fff;
  text-align: center;
  padding: 6px 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}


#timer {
  font-size: 14px;
}

@media screen and (max-height: 500px) {
  img { width: 0; }
  .sidenav { padding-top: 30px; }
  .sidenav a, .dropdown-btn { font-size: 16px; }
  .count-down { font-size: 56px; }
  
  h3 {
    margin: 3px 0 0 0;
    font-size: 20px;
  }

  h4 { font-size: 14px;}

  main {
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .publicity {
    order: 1;
    background-image: url(../images/banner-vertical.gif);
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 10px 10px;
  }

  .current-content {
    width: 95%;
  }  
  /* img { width: 40%; }
  .sidenav { padding-top: 30px; }
  .sidenav a { font-size: 16px; }
  .count-down { font-size: 26px; }
  h4 { font-size: 12px;}
  h3 {
    margin: 3px 0;
    font-size: 16px;
  }

  .current-content {
    padding: 0;
  } */

  /* main {
    display: flex;
    flex-direction: column-reverse;
  } */
}

@media screen and (max-width: 500px) {
  img { width: 60%; }
  .count-down { font-size: 68px; }

  .current-content {
    width: 93%;
  }  

  .table-title{
    padding: 5px;
  }

  .his-item {
    padding: 6px;
    font-size: 12px;
  }

  main {
    padding-top: 50px;
  }
}
